<header class="header">
  <section class="menu-toggle-section">
    <button class="layout-menu-button" (click)="layoutService.onMenuToggle()">
      <i class="pi pi-bars"></i>
    </button>
  </section>

  <section class="logo-section">
    <h1>{{ schoolName }}</h1>

    <img src="assets/logo.png" (click)="goHome()" alt="Logo" class="logo"
         ngmMotion
         [whileHover]="{ scale: 1.04, y: -2 }"
         [transition]="{
            type: 'spring',
            stiffness: 400,
            damping: 20
          }"
    >
  </section>
</header>
