<div class="notification-container">
  <div class="header">
    <h1>Notifications</h1>

    <div class="header-right">
      <span class="count">Page {{ frontNotificationService.paginationResults()?.page }} - {{ frontNotificationService.currentNotifications().length }} notifications</span>

      <button class="btn btn-primary" [disabled]="!frontNotificationService.canMarkAllAsRead()" (click)="frontNotificationService.markAllAsRead()">
        Mark all as read
      </button>
    </div>
  </div>

  <div class="list">
    @for (notification of frontNotificationService.currentNotifications(); track notification._id) {
      <a
        class="card"
        [routerLink]="notification.target_url || null"
      >
        <div class="card-content">
          <div class="text-block">
            <div class="title-row">
              <h2 class="title">
                {{ notification.title }}
              </h2>

              @if (!notification.read_at) {
                <span class="dot"></span>
              }
            </div>

            <p class="message">
              {{ notification.message }}
            </p>

            <div class="date">
              {{ notification.createdAt | personalDate:'dd/MM HH:mm' }}
            </div>

          </div>

          <div class="actions">
            @if (!notification.read_at) {
              <button
                class="btn"
                (click)="markAsRead(notification, $event)"
              >
                Mark as read
              </button>
            }
          </div>
        </div>
      </a>
    }

    @if (frontNotificationService.currentNotifications().length === 0) {
      <div class="empty">
        No notifications yet
      </div>
    }
  </div>

    <p-paginator
      [first]="firstRow()"
      [rows]="numberOfRows()"
      [totalRecords]="frontNotificationService.paginationResults()?.total || 0"
      [rowsPerPageOptions]="[10, 20, 30]"
      (onPageChange)="loadNotifications($event)"
    ></p-paginator>
</div>
