@import "tailwindcss";

@font-face {
  font-family: 'DM-Sans';
  src: url('/assets/fonts/DMSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #0A369D;
  --secondary-color: #4472CA;
  --text-color: #000000;
  --background-color: #F5F5F5;
  --border-color: #E0E0E0;
  --disabled-color: #9CA3AF;
  --error-color: #EF4444;
  --hover-color: #0A369D;
  --active-color: #3472CA;
  --primary-font: 'DM-Sans';
}

* {
  font-family: var(--primary-font), sans-serif;
}

html, body {
  @apply flex h-full w-full;
}

router-outlet + * {
  @apply flex h-full w-full;
}
